.main-wrapper {
    width: 1110px;
    margin: 0 auto;
    display: flex;
}

.main-left {
    width: 800px;
    padding: 20px 0;

    .news-card {
        height: 150px;
        display: flex;
        color: black;
        text-decoration: none;
        margin-bottom: 20px;

        .img-container {
            background-color: transparent;
        }

        .img-container img {
            object-fit: fill;
            height: 100%;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease;
        }

        .content-container {
            display: flex;
            flex-direction: column;
            padding: 4px 20px;
        }

        .article-title {
            font-size: large;
            margin: 0;
            line-height: 25px;
            color: var(--title);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .article-desc,
        .article-date {
            font-size: smaller;
            color: var(--desc);
        }

        .article-desc {
            line-height: 20px;
        }

        .article-desc p {
            margin: 12px 0;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .article-date {
            margin-top: auto;
            color: var(--orange);
            font-weight: bold;
        }
    }
}

.main-right {
    height: 500px;
    width: 310px;
    padding: 20px 0;

    .topic-wrapper {
        display: flex;
        flex-direction: column;
    }

    .topic-header {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }

    .rocket-icon {
        margin-right: 10px;
        color: var(--orange);
    }

    .topic-title {
        font-size: larger;
        font-weight: bold;
        color: var(--title);
    }

    .topic-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }

    .topic-card{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px;
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
        text-decoration: none;
        font-size: medium;
        font-weight: bold;
        color: var(--white);
    }

    .topic-card:hover {
        text-decoration: underline;
    }

    .topic-name{
        color: var(--white);
    }
}