@media (max-width: 480px) {
    .main-wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        flex-direction: column;
    }

    .main-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        order: 2;
    }

    .main-left .news-card {
        width: 90%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .main-left .news-card .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-left .news-card .img-container img {
        object-fit: fill;
        height: 100%;
        width: 100%;
    }

    .main-left .news-card .content-container {
        padding: 4px;
    }

    .main-right {
        height: auto;
        width: 100%;
        padding: 0;
        order: 1;
    }

    .main-right .topic-wrapper {
        display: none;
    }
}