@media (max-width: 600px) {
    #wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #left{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #card{
        width: 90%;
        padding: 20px 0;
    }

    #imgContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #imgBox{
        width: fit-content;
    }

    #contentContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #articleTitle, #articleDesc{
        width: 75%;
    }

    #right{
        display: none;
    }
}