@media (max-width: 600px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;

        .header-container {
            width: 90%;
            margin: 0;
        }
    }
}

@media (min-width: 601px) and (max-width: 899px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;

        .header-container {
            width: 90%;
            margin: 0;
        }
    }
}

@media (min-width: 900px) and (max-width: 1152px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;

        .header-container {
            width: 860px;
            margin: 0;
        }

        .nav-bar {
            .nav-item {
                text-decoration: none;
                padding: 0 10px;
            }
        }
    }

}