.wrapper {
    padding: 0;
    margin: 0;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.title {
    color: var(--title);
    margin: 20px 0;
}

.subTitle {
    color: var(--title);
}

.content {
    margin: 0;
    line-height: 20px;
    color: var(--desc);
}

.links {
    color: var(--desc);
    text-decoration: none;
}

.links:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}

@media (min-width: 601px) and (max-width: 899px) {
    .container {
        width: 90%;
    }
}

@media (min-width: 900px) and (max-width: 1152px) {
    .container {
        width: 860px;
    }
}