.search-wrapper {
    width: 100%;
    padding: 12px 0;
    padding-bottom: 0;
    position: fixed;
    z-index: 3;
}

.search-container {
    width: 1110px;
    margin: 0 auto;
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 100%;
    min-width: 220px;
    max-width: 514px;
    height: 30px;
    padding: 6px 12px;
    border-radius: 6px;
    border: 2px solid var(--blue);
    outline: none;
    box-shadow: 0px 0px 20px -18px;
}

.search-input:hover {
    border: 2px solid var(--orange);
    box-shadow: 0px 0px 20px -17px;
}

.search-input:focus {
    border: 2px solid var(--orange);
}

@media (max-width: 600px) {
    .search-container {
        width: 90%;
    }
}

@media (min-width: 601px) and (max-width: 899px) {
    .search-container{
        width: 90%;
    }
}

@media (min-width: 900px) and (max-width: 1152px) {
    .search-container {
        width: 860px;
    }
}